In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

filepath = r"\Users\tailb\Data Science\JUPYTER NOTEBOOK\balance.txt"
balance_df = pd.read_csv(filepath, delimiter=' ') # Or sep=''
balance_df

,Balance,Income,Limit,Rating,Cards,Age,Education,Gender,Student,Married,Ethnicity
0,12.240798,14.891,3606,283,2,34,11,Male,No,Yes,Caucasian
1,23.283334,106.025,6645,483,3,82,15,Female,Yes,Yes,Asian
2,22.530409,104.593,7075,514,4,71,11,Male,No,No,Asian
3,27.652811,148.924,9504,681,3,36,11,Female,No,No,Asian
4,16.893978,55.882,4897,357,2,68,16,Male,No,Yes,Caucasian
...,...,...,...,...,...,...,...,...,...,...,...
395,8.764984,12.096,4100,307,3,32,13,Male,No,Yes,Caucasian
396,9.943838,13.364,3838,296,5,65,17,Male,No,No,African American
397,14.882078,57.872,4171,321,5,67,12,Female,No,Yes,Caucasian
398,12.001071,37.728,2525,192,1,44,13,Male,No,Yes,Caucasian
399,10.159598,18.701,5524,415,5,64,7,Female,No,No,Asian

Compare the average income based on ethnicity.

In [2]:
#print(balance_df.groupby('Ethnicity')['Income'].mean()) # Alternate 2
#balance_df.groupby('Ethnicity')['Income'].mean().round(0) # Alternate 3

# Select column 'Ethnicity' & 'Income', group by unique variable 'Ethnicity' and calculate mean 'Income'.
# The round(0) function rounds our float value to the nearest integer/full number.
balance_df[['Ethnicity','Income']].groupby('Ethnicity').mean().round()

                  Income
Ethnicity
African American    48.0
Asian               44.0
Caucasian           45.0

In [64]:
# .loc is used to access a group of rows and columns by label(s) or a boolean array.
African_American = balance_df[balance_df['Ethnicity']=='African American'].loc[:,'Income'].mean().__round__()
Asian = balance_df[balance_df['Ethnicity']=='Asian'].loc[:,'Income'].mean().__round__()
Caucasian = balance_df[balance_df['Ethnicity']=='Caucasian'].loc[:,'Income'].mean().__round__()
print(f"African American Average Income: {African_American}\nAsian Average Income: {Asian}\nCaucasian Average Income: {Caucasian}")
print("\nAfrican Americans on average earn the most compared to the Asian and Caucasian group.")

African American Average Income: 48
Asian Average Income: 44
Caucasian Average Income: 45

African Americans on average earn the most compared to the Asian and Caucasian group.

On average do married or single people have a higher balance?

In [2]:
# Select column 'Married' & 'Balance', group by unique variable 'Married' and calculate mean 'Balance'.
# The round(0) function rounds our float value to the nearest integer/full number.
balance_df[['Married','Balance']].groupby('Married').mean().round()

         Balance
Married
No          13.0
Yes         13.0

In [3]:
# .loc is used to access a group of rows and columns by label(s) or a boolean array.
married = balance_df[balance_df['Married']=='Yes'].loc[:,'Balance'].mean().__round__()
not_married = balance_df[balance_df['Married']=='No'].loc[:,'Balance'].mean().__round__()
print(f"The average balance for married people is {married} and the average balance for single people is {not_married}")
print("On average, married and single people have the same balance.")

The average balance for married people is 13 and the average balance for single people is 13
On average, married and single people have the same balance.

What is the highest income in our data set?

In [32]:
#balance_df[['Ethnicity','Rating','Income']].groupby('Ethnicity').max() # Select  columns 'Ethnicity','Rating','Income', group by 'Ethnicity' and calculate the higest income.

# Select column 'Income' and calculate the highest income.
#print("The highest income in our data set is:\t",balance_df['Income'].max()) # Alternate 1

# Select  column 'Income' and calculate the highest income.
highest_income = balance_df['Income'].max()
print(f"The lowest income in our data set is:\t{highest_income}")

The highest income in our data set is:	 186.634

What is the lowest income in our data set?

In [33]:
#balance_df[['Ethnicity','Rating','Income']].groupby('Ethnicity').min() # Select  columns 'Ethnicity','Rating','Income', group by 'Ethnicity' and calculate the lowest income.

# Select column 'Income' and calculate the lowest income. # Alternate 1
#print("The lowest income is:\t",balance_df['Income'].min())

# Select column 'Income' and calculate the lowest income.
lowest_income = balance_df['Income'].min()
print(f"The lowest income in our data set is:\t{lowest_income}")

The lowest income in our data set is:	10.354

How many cards do we have recorded in our dataset?

In [27]:
#balance_df[['Ethnicity','Cards']].groupby('Ethnicity').sum()  #Select columns 'Ethnicity','Cards', group by 'Ethnicity' and calculate the sum of cards.

# Select column 'Cards' and calculate the sum.
#print("The sum of the cards is:\t",balance_df['Cards'].sum()) # Alternate 1

# Select column 'Cards' and calculate the sum.
sum_of_cards = balance_df['Cards'].sum()
print(f"The sum of the cards is:\t{sum_of_cards}")

The sum of the cards is:	1183

How many females do we have information for vs how many males?

In [22]:
#balance_df['Gender'].count() # Total count of both Male & Female.

# Select the 'Gender' column, group by unique variable 'Gender' and calculate total count.
balance_df.groupby('Gender')['Gender'].count().round(0)

Gender
Female    207
Male      193
Name: Gender, dtype: int64

In [23]:
# .loc is used to access a group of rows and columns by label(s) or a boolean array.
female = balance_df[balance_df['Gender']=='Female'].loc[:,'Gender'].count()
male = balance_df[balance_df['Gender']=='Male'].loc[:,'Gender'].count()
print(f"The Female count is {female} and the Male count is {male}")

The Female count is 207 and the Male count is 193